
.page-title {

    .logo {
        vertical-align: middle;
        width: 4em;
        margin: 0 1% 0 1%;
        display: inline-block;
        background: white;
        border-radius: 4em;
    }

    h1 {
        vertical-align: middle;
        display: inline-block;
    }

    .links {
        float: right;

        i {
            padding-left: 0.5em;
        }
    }
}
