<h2>{{ 'Settings.Title' | translate }}</h2>

<div class="settings-form">
    <div class="p-grid">
        <div class="p-col p-sm-6 p-md-3 p-lg-1">{{ 'Settings.Language' | translate }}</div>
        <div class="p-col">
            <p-dropdown [options]="languageOptions" (onChange)="languageChanged($event)" ></p-dropdown>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col p-sm-6 p-md-3 p-lg-1">{{ 'Settings.Theme' | translate }}</div>
        <div class="p-col">
            <p-dropdown [options]="themeOptions" (onChange)="themeChanged($event)"></p-dropdown>
        </div>
    </div>
</div>

<div class="clear-storage">
    <button pButton pRipple type="button" [label]="'Settings.ClearStorage' | translate" class="p-button-outlined"></button>
</div>

<p-card>
    {{ 'Settings.StorageInfo' | translate }}
</p-card>
