
:host ::ng-deep {
    .p-card:first-of-type {
        margin-bottom: 20px;
    }

    .contact-info-item {
        padding: 0.2em 0;

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }
}
