<div *ngIf="info">
    <h2>{{ info.fullNameOfAssociation }}</h2>
    <p-card>
        <div class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg-3 p-lg-2">{{ 'Contact.PresidentName' | translate }}</div>
            <div class="p-col">{{ info.presidentName }}</div>
        </div>
        <div *ngIf="info.phone" class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg-3 p-lg-2">{{ 'Contact.Phone' | translate }}</div>
            <div class="p-col">{{ info.phone }}</div>
        </div>
        <div class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg-3 p-lg-2">{{ 'Contact.Headquarters' | translate }}</div>
            <div class="p-col">{{ info.headquarters }}</div>
        </div>
        <div *ngIf="info.site" class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg-3 p-lg-2">{{ 'Contact.Site' | translate }}</div>
            <div class="p-col">{{ info.site }}</div>
        </div>
        <div class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg-3 p-lg-2">{{ 'Contact.EmailAddress' | translate }}</div>
            <div class="p-col">{{ info.emailAddress }}</div>
        </div>
        <div class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg-3 p-lg-2">{{ 'Contact.Website' | translate }}</div>
            <div class="p-col">{{ info.website }}</div>
        </div>
        <div class="p-grid contact-info-item">
            <div class="p-col-12 p-sm-6 p-mg3 p-lg-2">{{ 'Contact.TaxNumber' | translate }}</div>
            <div class="p-col">{{ info.taxNumber }}</div>
        </div>
    </p-card>

    <p-card *ngIf="textInfo">
        <span [innerHTML]="textInfo"></span>
    </p-card>
</div>
