<h2>{{ 'Activities.Title' | translate }}</h2>

<p-card *ngIf="intro">
    <span [innerHTML]="intro"></span>
</p-card>

<div>
    <p-accordion *ngIf="activityGroups" [multiple]="true">
        <ng-container *ngFor="let activityGroup of activityGroups; index as groupIndex">
            <ng-container *ngIf="activityGroup.items?.length">
                <p-accordionTab [header]="activityGroup.name" [(selected)]="tabSelectionMatrix[groupIndex].group">


                    <p-accordion [multiple]="true">
                        <ng-container *ngFor="let activity of activityGroup.items; index as activityIndex">
                            <p-accordionTab [header]="activity.title"
                                            [(selected)]="tabSelectionMatrix[groupIndex].items[activityIndex]">
                                <span [innerHTML]="activity.content"></span>
                            </p-accordionTab>
                        </ng-container>
                    </p-accordion>


                </p-accordionTab>
            </ng-container>
        </ng-container>
    </p-accordion>
</div>
